<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.diwine.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AromatickeActivity"
            android:exported="true" />
        <activity
            android:name=".VinarskyActivity"
            android:exported="true" />
        <activity
            android:name=".BlauburgerActivity"
            android:exported="true" />
        <activity
            android:name=".AuxerroisActivity"
            android:exported="true" />
        <activity
            android:name=".PalavaActivity"
            android:exported="true" />
        <activity
            android:name=".AcolonActivity"
            android:exported="true" />
        <activity
            android:name=".AgniActivity"
            android:exported="true" />
        <activity
            android:name=".AlibernetActivity"
            android:exported="true" />
        <activity
            android:name=".AndreActivity"
            android:exported="true" />
        <activity
            android:name=".ArianaActivity"
            android:exported="true" />
        <activity
            android:name=".AureliusActivity"
            android:exported="true" />
        <activity
            android:name=".CabernetcortisActivity"
            android:exported="true" />
        <activity
            android:name=".CabernetDorsaActivity"
            android:exported="true" />
        <activity
            android:name=".CabernetMoraviaActivity"
            android:exported="true" />
        <activity
            android:name=".CabernetSauvignonActivity"
            android:exported="true" />
        <activity
            android:name=".CerasonActivity"
            android:exported="true" />
        <activity
            android:name=".DevinActivity"
            android:exported="true" />
        <activity
            android:name=".DornfelderActivity"
            android:exported="true" />
        <activity
            android:name=".DominaActivity"
            android:exported="true" />
        <activity
            android:name=".ErilonActivity"
            android:exported="true" />
        <activity
            android:name=".FloriankaActivity"
            android:exported="true" />
        <activity
            android:name=".FratavaActivity"
            android:exported="true" />
        <activity
            android:name=".FrankovkaActivity"
            android:exported="true" />
        <activity
            android:name=".HibernalActivity"
            android:exported="true" />
        <activity
            android:name=".ChardonnayActivity"
            android:exported="true" />
        <activity
            android:name=".IrsaiActivity"
            android:exported="true" />
        <activity
            android:name=".JakubskeActivity"
            android:exported="true" />
        <activity
            android:name=".KernerActivity"
            android:exported="true" />
        <activity
            android:name=".KofrankaActivity"
            android:exported="true" />
        <activity
            android:name=".LaurotActivity"
            android:exported="true" />
        <activity
            android:name=".LenaActivity"
            android:exported="true" />
        <activity
            android:name=".MalverinaActivity"
            android:exported="true" />
        <activity
            android:name=".MedeaActivity"
            android:exported="true" />
        <activity
            android:name=".MerlotActivity"
            android:exported="true" />
        <activity
            android:name=".MeryActivity"
            android:exported="true" />
        <activity
            android:name=".PortugalActivity"
            android:exported="true" />
        <activity
            android:name=".MuskatmoravskyActivity"
            android:exported="true" />
        <activity
            android:name=".OttonelActivity"
            android:exported="true" />
        <activity
            android:name=".ThurgauActivity"
            android:exported="true" />
        <activity
            android:name=".NativaActivity"
            android:exported="true" />
        <activity
            android:name=".NeronetActivity"
            android:exported="true" />
        <activity
            android:name=".NeuburskeActivity"
            android:exported="true" />
        <activity
            android:name=".RinotActivity"
            android:exported="true" />
        <activity
            android:name=".RubinetActivity"
            android:exported="true" />
        <activity
            android:name=".RulandskebileActivity"
            android:exported="true" />
        <activity
            android:name=".RulandskemodreActivity"
            android:exported="true" />
        <activity
            android:name=".RulandskesedeActivity"
            android:exported="true" />
        <activity
            android:name=".RulenkaActivity"
            android:exported="true" />
        <activity
            android:name=".RyzlinkrynskyActivity"
            android:exported="true" />
        <activity
            android:name=".RyzlinkvlaskyActivity"
            android:exported="true" />
        <activity
            android:name=".SauvignonActivity"
            android:exported="true" />
        <activity
            android:name=".SavilonActivity"
            android:exported="true" />
        <activity
            android:name=".SevarActivity"
            android:exported="true" />
        <activity
            android:name=".SvatovavrineckeActivity"
            android:exported="true" />
        <activity
            android:name=".SvojsenActivity"
            android:exported="true" />
        <activity
            android:name=".SylvanskezeleneActivity"
            android:exported="true" />
        <activity
            android:name=".TramincervenyActivity"
            android:exported="true" />
        <activity
            android:name=".TristarActivity"
            android:exported="true" />
        <activity
            android:name=".JohanniterActivity"
            android:exported="true" />
        <activity
            android:name=".SolarisActivity"
            android:exported="true" />
        <activity
            android:name=".VeltlineskecerveneraneActivity"
            android:exported="true" />






        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>